body{
    background-color: lightcoral;
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
}

.cool{
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: green;
    transition: background-color 2s;
}

.cool.red{
    visibility: visible;
    background-color: red;
}

h1{
    font-size: 60px;
}